.button-width {
    width: 250px;
    float: right;
    margin-top: 40px;
    margin-left: 40px;
}


.button-course-status {
    margin-bottom: 10px;
    width: 230px;
    text-align: left;
    border: thin solid lightgrey;

    padding: 7px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    margin-left: 10px;
}
