.button {
    display: flex;
    justify-content: flex-end;

    margin-top: 50px;
    margin-right: 10px;

    min-width: 150px;
    min-height: 50px;
}
.button-padding {
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    border: thin solid lightgrey;
}

.button-padding-small {
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    width: 40px;
    margin-left: 10px;
    border: thin solid lightgrey;
}

.wd-fg-color-red {
    background-color: red;
    color: white;
    border: 2px solid red}

.wd-fg-color-green {
    background-color: green;
    color: white;
    border: 2px solid green;
    width: 140px; }
.green {
    color: green;
}
.red {
    color: red;
}
.bold {
    font-weight: bold;
}
.place {
    margin-top: 50px;
    margin-right: 10px;
}
.preview {
    background-color: pink;
    color: red;
    padding: 10px;
    padding-left: 15px;
}

.margin {
    margin-bottom: 20px;
}

.question {
    border: 1px solid #aaa;
    background-color: #fff;
    position: relative;
    min-height: 50px;
    flex: 1;
    margin-left: 10px;
}

.option {
    padding: 20px;
}
.questionNumber {
    padding-left: 20px;
    padding-top: 20px;
}
.option-text {
    padding-left: 15px;
}

.points {
    padding-right: 20px;
    padding-top: 20px;
    color: dimgray;
}

.but {
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    border: thin solid lightgrey;
}

.button-padding-long {
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    width: 140px;
    height: 35px;
    margin: 10px;
    border: thin solid lightgrey;
}

.saved {
    margin: 15px;
    color: dimgray;
}

.editing {
    margin-left: 15px;
    color: dimgray;
    text-decoration: none;
    float: left;
}

.link {
    text-decoration: none;
    color: black;
}

.question-edit {
    border: 1px solid lightgray;
    background-color: #fff;
    position: relative;
    min-height: 50px;
    width: 100%;
    margin-left: 10px;
    border-radius: 8px;
}
.margin-left {
    margin-left: 30px;
}
.grey {
    color: lightgrey;
}