.button {
    display: flex;
    justify-content: flex-end;

    margin-top: 50px;
    margin-right: 10px;

    min-width: 150px;
    min-height: 50px;
}
.button-padding {
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    border: thin solid lightgrey;
}

.button-padding-small {
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    width: 40px;
    margin-left: 10px;
    border: thin solid lightgrey;
}

.wd-fg-color-red {
    background-color: red;
    color: white;
    border: 2px solid red}

.wd-fg-color-green {
    background-color: green;
    color: white;
    border: 2px solid green;
    width: 140px; }
.green {
    color: green;
}
.bold {
    font-weight: bold;
}
